.trapezoid {
    width: 108vh;
    height: 36vh;
    margin: 0 auto; /* Center horizontally */
    display: flex;
    border-bottom: 2vh solid #000000;
    align-items: center;
    justify-content: center;
    background-color: rgba(185, 86, 86);
    clip-path: polygon(35% 0%, 0% 100%, 100% 100%, 65% 0%);
}


/* .trapezoid::after { 
    content: ""; 
    width: 108vh; 
    height: 36vh; 
    position: absolute; 
    background-color: rgba(185, 86, 86);
    z-index: 3;
    clip-path: polygon(35% 0%, 0% 100%, 100% 100%, 65% 0%); */




.trapezoidInvertedLEFT {
    width: 162vh;
    height: 38vh;
    border-bottom: 2vh solid black; /* Apply border to the bottom */
    background-color: rgba(185, 86, 86);
    position: relative;
    margin: 0 auto; /* Center horizontally */
    clip-path: polygon(75% 0%, 0% 100%, 65% 100%, 100% 0%);
    box-sizing: border-box;
}

.trapezoidInvertedRIGHT {
    width: 162vh;
    height: 38vh;
    border-bottom: 2vh solid black; /* Apply border to the bottom */
    background-color: rgba(185, 86, 86);
    position: relative;
    margin: 0 auto; /* Center horizontally */
    clip-path: polygon(0% 0%, 35% 100%, 100% 100%, 25% 0%);
    box-sizing: border-box;
}

.spinningBall {
    animation: spinBall 1.5s linear infinite;
}

@keyframes spinBall {
    100% {
        transform: rotate(360deg);
    }
}

.off {
    displayEight.style.display = 'none';
}

.on {
    display: ;
}

.curtain {
    width: 40vw;
    height: 50vh;
    background: linear-gradient(90deg, 
        #923232 25%, 
        #000000 50%, 
        #343030 60%, 
        #982f2f 95%);
    background-size: 1vw 100%;
    box-shadow: 
        inset 0 -10px 10px rgba(0, 0, 0, 0.5),
        inset 0 20px 10px rgba(0, 0, 0, 0.5);
}